@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

#main-logo {
    background: none;
    border: none;
    cursor: pointer;
    margin: 25px;
}

#main-logo img {
    width: 500px;
}

main {
    display: flex;
    justify-content: center;
}

#selection-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    gap: 50px;
    margin: 40px;
    margin-bottom: 100px;
    margin-top: 30px;
}

#selection-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.selection-card-animal, .selection-card-geography, .selection-card-popculture {
    background: none;
    cursor: pointer;
    width: 300px;
    border: 5px solid black;
    border-radius: 8px;
    display: grid;
    place-items: center;
    transition: transform 0.4s ease;
}

.selection-card-animal:hover, .selection-card-geography:hover, .selection-card-popculture:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card-icon {
    width: 200px;
}

#question-title {
    text-align: center;
}

#question-container {
    display: none; /* display: flex; */
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 30px
}

.question-card {
    width: 450px;
    border: 5px solid #1A508B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.question-text {
    margin-left: 25px;
    margin-right: 5px;
}

.answer {
    background-color: white;
    border: none;
    border-top: 1px solid #1E89FF;
    text-align: left;
    padding-left: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.answer:hover {
    background-color: #1E89FF;
    color: white;
    cursor: pointer;
}

.answer.selected,
.answer.selected:hover {
    background-color: #1E89FF;
    color: white;
}

.answer.correct {
  background-color: #2ecc71 !important;
  color: white !important;
}

.answer.wrong {
  background-color: #e74c3c !important;
  color: white !important;
}

#submit {
    align-self: flex-end;
    background-color: #1E89FF;
    color: white;
    border: 2px solid #1A508B;
    border-radius: 2px;
}

#submit:hover {
    background-color: #1A508B;
    cursor: pointer;
}

footer {
    color: white;
    font-size: 10px;
    background-color: #1A508B;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    position: sticky;
    bottom: 0;
}

@media screen and (max-width: 750px) {

    #main-logo img {
    width: 300px;
    }

    #selection-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr;
    }
    #selection-title {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 20px
    }
    
    #question-title {
        font-size: 20px
    }
    .question-card {
        width: 350px;
        font-size: 15px;
    }

}