@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

#main-logo {
    background: none;
    border: none;
    cursor: pointer;
    margin: 25px;
}

#main-logo img {
    width: 500px;
}

main {
    display: flex;
    justify-content: center;
}

#selection-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    gap: 50px;
    margin: 40px;
    margin-bottom: 70px;
    margin-top: 30px;
}

#selection-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.selection-card {
    width: 300px;
    border: 5px solid black;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.card-icon {
    width: 200px;
}

footer {
    background-color: #1A508B;
    height: 60px;
}